.activeBtn {
    background-color: orange;
}

body {
    background-color: lightgray;
}

button {
    width: 200px
}

.orderInput {
    width: 50px
}

.submitPoem {
    width: 100px;
    margin: 10px 50% 10px 50%
}

.poemText {
    height: 200px;
    width: 1000px;
    margin: 0px 20px 10px 20px
}

.homeBtn {
    margin: 50px
}

.poemEntry {
    background-color: white;
    border: 2px solid blue;
    border-radius: 30px;
    margin: 20px;
    padding: 15px 0px 5px 50px
}

.poemEntry:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
}

/* .edit {
    background-color: blue;
    color: white;
    width: 100px;
    margin: 10px 10px 10px 10px
} */

.delete {
    background-color: red;
    color: white;
    width: 80px;
    margin: 35px 40px 10px 50px
}
